name: Push File

on: push

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Push eng notes to notes website
      uses: nkoppel/push-files-to-another-repository@v1.1.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-files: '_AerospaceEngineering/*'
        destination-username: 'jaydickson02'
        destination-repository: 'Notes'
        destination-branch: 'gh-pages'
        destination-directory: 'collections'
        commit-email: 'jaydickson02@gmail.com'
