name: Push File

on: push

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Push generated webpage to another repository
      uses: nkoppel/push-files-to-another-repository@1.1.1
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-files: 'Aerospace Engineering/'
        destination-username: 'jaydickson02'
        destination-repository: 'jaydickson02/Notes'
        destination-directory: 'collections/_AerospaceEngineering'
        commit-email: 'jaydickson02@gmail.com'
